include README.md
include LICENSE
include icon.png

include conda/*.yaml
include conda/*.png

include conda.noarch/*.yaml
include conda.noarch/*.png

include tests/*.py

include lauetoolsnn/*.py
include lauetoolsnn/*.png
include lauetoolsnn/*.npz
include lauetoolsnn/*.ini
include lauetoolsnn/*.gif

include lauetoolsnn/examples/*.py
include lauetoolsnn/examples/*.md

include lauetoolsnn/examples/ZnCUOCl/*.py
include lauetoolsnn/examples/ZnCUOCl/*.lauenn
include lauetoolsnn/examples/ZnCUOCl/*.det
include lauetoolsnn/examples/ZnCUOCl/*.tif

include lauetoolsnn/examples/GaN_Si/*.py
include lauetoolsnn/examples/GaN_Si/*.lauenn
include lauetoolsnn/examples/GaN_Si/*.det
include lauetoolsnn/examples/GaN_Si/*.tif

include lauetoolsnn/end_to_end_scripts/*.py
include lauetoolsnn/end_to_end_scripts/*.md
include lauetoolsnn/end_to_end_scripts/*.ipynb
include lauetoolsnn/end_to_end_scripts/*.m

include lauetoolsnn/util_scripts/*.py
include lauetoolsnn/util_scripts/*.md

include lauetoolsnn/misc_scripts/*.py
include lauetoolsnn/misc_scripts/*.md

include lauetoolsnn/lauetools/*.py
include lauetoolsnn/lauetools/*.md
include lauetoolsnn/lauetools/*.json

recursive-include lauetoolsnn/*.*